{% if "navigation.footer" in features %}
    {% if page.previous_page or page.next_page %}
        {% if page.meta and page.meta.hide %}
            {% set hidden = "hidden" if "footer" in page.meta.hide %}
        {% endif %}
        <div class="md-content__navigation md-grid" aria-label="{{ lang.t('footer') }}" {{ hidden }}>
            {% if page.previous_page %}
            {% set direction = "Trang trước" %}
            <div class="md-content__navigation_item prev">
                <div class="navigation__direction">
                    {{direction }}
                </div>
                <a href="{{ page.previous_page.url | url }}"
                   class="md-content__navigation_link md-content__navigation_link--prev"
                   aria-label="{{ direction }}: {{ page.previous_page.title | e }}">

                    <div class="navigation__group">
                        <div class="navigation__icon">
                            {% set icon = config.theme.icon.previous or "material/arrow-left" %}
                            {% include ".icons/" ~ icon ~ ".svg" %}
                        </div>
                        <div class="md-ellipsis navigation__name">
                            {{ page.previous_page.title }}
                        </div>
                    </div>
                </a>
            </div>

            {% endif %}

            {% if page.next_page %}
            {% set direction = "Trang sau" %}
            <div class="md-content__navigation_item next">
                <div class="navigation__direction">
                    {{ direction }}
                </div>
                <a href="{{ page.next_page.url | url }}" class="md-content__navigation_link md-content__navigation_link--next"
                   aria-label="{{ direction }}: {{ page.next_page.title | e }}">
                    <div class="navigation__group">
                        <div class="md-ellipsis navigation__name">
                            {{ page.next_page.title }}
                        </div>
                        <div class="navigation__icon">
                            {% set icon = config.theme.icon.next or "material/arrow-right" %}
                            {% include ".icons/" ~ icon ~ ".svg" %}
                        </div>
                    </div>
                </a>
            </div>
            {% endif %}
        </div>
    {% endif %}
{% endif %}
